*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #eea663;
	overflow: hidden;
}
button {width:6em}
button:hover span {display:none}
button:hover:before {content:"Reply!"}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background: rgba(72,72,72,.4);
    padding: 35px;
    border-radius: 7px;
}
.navbar{
	width: 100%;
	overflow: hidden;
	height: auto;
	line-height: 70px;
	background: #ffffff;
}
.navbar_links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.container{
	width: 90%;
	margin: 0 auto;
	
}
.logo{
	float: left;
	width: 20%;
	height: auto;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
/*this is for ul tag*/
.menu{
	float: right;
}
.menu li{
	float: left;
	width: 120px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	list-style: none;
}
.menu li a{
	color: #000;
	text-decoration: none;
	font-family: calibri;
	display: block;
}
.menu li:hover{
	background: #e6862d;
}
.menu li a:hover{
	color: #fff;
}
.menu a:hover{
	color: #000;
    text-decoration:underline;
}
*{
	box-sizing: border-box;
}

form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	background: rgba(72,72,72,.4);
	padding: 35px;
	border-radius: 7px;
}
.inputs{
	width: 100%;
	font-size: 18px;
	margin: 5px auto;
	padding: 13px 13px 13px 54px;
}
input[name="name"]{
	background-image: url(../images/person.svg);
}
input[name="email"]{
	background-image: url(../images/msg.svg);
}
textarea{
	background-image: url(../images/pen.svg);
	height: 150px;
}

input[name="name"],
input[name="email"],
textarea{
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
button{
	width: 100%;
	background-color: #3498db;
	border: 4px solid #fbfbfb;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.3s;
	padding: 22px 0;
	cursor: pointer;
}
button:hover{
	color: #3498db;
	background-color: #fff;
}
